Cleaning data

In [28]:
import pandas as pd
import matplotlib as mpl
import random 
import csv 
import datetime

In [13]:
daily_data = pd.read_csv("resources/worldometer_coronavirus_daily_data.csv")
summary_data = pd.read_csv("resources/worldometer_coronavirus_summary_data.csv")
daily_data

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020/2/15,Afghanistan,0,NaN,0.0,0.0,NaN
1,2020/2/16,Afghanistan,0,NaN,0.0,0.0,NaN
2,2020/2/17,Afghanistan,0,NaN,0.0,0.0,NaN
3,2020/2/18,Afghanistan,0,NaN,0.0,0.0,NaN
4,2020/2/19,Afghanistan,0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...
184782,2022/5/10,Zimbabwe,248642,106.0,963.0,5481.0,2.0
184783,2022/5/11,Zimbabwe,248778,136.0,1039.0,5481.0,0.0
184784,2022/5/12,Zimbabwe,248943,165.0,1158.0,5481.0,0.0
184785,2022/5/13,Zimbabwe,249131,188.0,1283.0,5482.0,1.0
184786,2022/5/14,Zimbabwe,249206,75.0,1307.0,5482.0,0.0

In [14]:
continents = {
    "Africa": ["Algeria", "Nigeria", "Kenya", "Egypt", "South Africa"],
    "Asia": ["China", "India", "Japan", "South Korea", "Russia"],
    "Europe": ["France", "Germany", "Italy", "Spain", "United Kingdom"],
    "North America": ["United States", "Canada", "Mexico", "Jamaica", "Costa Rica"],
    "South America": ["Brazil", "Argentina", "Colombia", "Peru", "Chile"],
    "Oceania": ["Australia", "New Zealand", "Fiji", "Papua New Guinea", "Vanuatu"]
}

In [16]:
country_list = []
for continent, countries in continents.items():
      random_country = random.choice(countries)
      country_list.append(random_country)
country_list

['South Africa', 'Japan', 'Italy', 'Canada', 'Colombia', 'New Zealand']

In [38]:
selected_data_daily = daily_data[daily_data["country"].isin(country_list)].copy()
selected_data_daily["date"] = pd.to_datetime(selected_data_daily["date"])
selected_data_daily["Year"] = pd.DatetimeIndex(selected_data_daily["date"]).year
selected_data_daily["Month"] = pd.DatetimeIndex(selected_data_daily["date"]).month
selected_data_daily = selected_data_daily[selected_data_daily["Year"] == 2021]
selected_data_daily

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,Year,Month
29021,2021-01-01,Canada,582697,1302.0,77450.0,15428.0,0.0,2021,1
29022,2021-01-02,Canada,590280,7583.0,79667.0,15536.0,108.0,2021,1
29023,2021-01-03,Canada,601663,11383.0,81003.0,15684.0,148.0,2021,1
29024,2021-01-04,Canada,611424,9761.0,76528.0,15890.0,206.0,2021,1
29025,2021-01-05,Canada,618646,7222.0,79035.0,16047.0,157.0,2021,1
...,...,...,...,...,...,...,...,...,...
154308,2021-12-27,South Africa,3417318,3778.0,205975.0,91331.0,15.0,2021,12
154309,2021-12-28,South Africa,3424534,7216.0,198864.0,91356.0,25.0,2021,12
154310,2021-12-29,South Africa,3433554,9020.0,196574.0,91437.0,81.0,2021,12
154311,2021-12-30,South Africa,3446532,12978.0,195825.0,91564.0,127.0,2021,12
154312,2021-12-31,South Africa,3458286,11754.0,192601.0,91648.0,84.0,2021,12

In [42]:
by_country = selected_data_daily["daily_new_cases"].groupby(selected_data_daily["country"])
by_country.head()

29021      1302.0
29022      7583.0
29023     11383.0
29024      9761.0
29025      7222.0
37245     12105.0
37246     11528.0
37247      9412.0
37248     10311.0
37249     16835.0
83165     22404.0
83166     12313.0
83167     14342.0
83168     10860.0
83169     15495.0
84805      4101.0
84806      3626.0
84807      2949.0
84808      2900.0
84809      4123.0
120065        0.0
120066        0.0
120067       19.0
120068        0.0
120069        5.0
153948    16827.0
153949    15093.0
153950    11931.0
153951    12677.0
153952    14497.0
Name: daily_new_cases, dtype: float64